:root {
  --max-width: 800px;
  --background: ghostwhite;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: disc;
  padding: 0;
  margin: 0 0 0 1em;
}
li {
  margin: 0.5em 0;
}

img {
  max-width: 100%;
  height: auto;
}

p > img {
  display: block;
  margin: 0 auto;
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}
figure p {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
  color: #777;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
