.footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #5d6d74;
  gap: 1rem;
  padding-top: 2rem;
}

.footer a {
  color: #5d6d74;
  transition: opacity 0.12s ease-in-out;
}
.footer a:hover {
  opacity: 0.7;
}
.footer img {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
}

.logoContainer {
  background: var(--background);
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.logo:visited {
  color: inherit;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 150px 1rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tagContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: #e0e0e0;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-size: 0.7rem;
  text-decoration: none;
  color: darkslateblue;
  cursor: pointer;
}

.tag:hover {
  opacity: 0.7;
}

.codeContainer {
  max-width: 100%;
  overflow: scroll;
}

.postMeta {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-left: 3px solid #e0e0e0;
  padding: 0.5em;
  font-size: 0.8rem;
}

.creation {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.divider {
  height: 1.5em;
  width: 1px;
  background-color: black;
}

.postItem {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.postItem h3,
.postItem p {
  margin: 0;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.postItem a {
  color: inherit;
  text-decoration: none;
}

.postDescription a {
  border-bottom: 1px solid;
  font-size: 0.8rem;
}
.postDate {
  font-size: 0.8rem;
}
